.demo {
  width: 700px;
  height: 320px;
  margin: 48px auto;
  background: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 760px) {
  .demo {
    width: 100%;
  }
}
